﻿@model BlogApp.Areas.admin.Models.LoginModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Forms</title>

    <link href="~/Areas/admin/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Areas/admin/assets/css/datepicker3.css" rel="stylesheet">
    <link href="~/Areas/admin/assets/css/styles.css" rel="stylesheet">

    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4">
            <div class="login-panel panel panel-default">
                <div class="panel-heading">Log in</div>@Html.ValidationSummary(false, "")
                <div class="panel-body">
                    @using (Html.BeginForm("Index", "Login", FormMethod.Post))
                    {

                        <div class="form col">


                            @Html.LabelFor(f => f.kullaniciAdi)
                            @Html.TextBoxFor(f => f.kullaniciAdi, new { title = "Kullanıcı adınızı giriniz.", @Value = @ViewBag.user })





                            @Html.LabelFor(f => f.Password)
                            @Html.PasswordFor(f => f.Password, new { title = "Kullanıcı şifrenizi giriniz.", @Value = @ViewBag.password })

                            <button type="submit" class="small fr">Giriş</button><br class="cl" />



                        </div>

                    }            
                </div>
            </div>
        </div><!-- /.col-->
    </div><!-- /.row -->


    <script src="~/Areas/admin/assets/js/jquery-1.11.1.min.js"></script>
    <script src="~/Areas/admin/assets/js/bootstrap.min.js"></script>
    <script src="~/Areas/admin/assets/js/chart.min.js"></script>
    <script src="~/Areas/admin/assets/js/chart-data.js"></script>
    <script src="~/Areas/admin/assets/js/easypiechart.js"></script>
    <script src="~/Areas/admin/assets/js/easypiechart-data.js"></script>
    <script src="~/Areas/admin/assets/js/bootstrap-datepicker.js"></script>
    <script>
		!function ($) {
			$(document).on("click","ul.nav li.parent > a > span.icon", function(){
				$(this).find('em:first').toggleClass("glyphicon-minus");
			});
			$(".sidebar span.icon").find('em:first').addClass("glyphicon-plus");
		}(window.jQuery);

		$(window).on('resize', function () {
		  if ($(window).width() > 768) $('#sidebar-collapse').collapse('show')
		})
		$(window).on('resize', function () {
		  if ($(window).width() <= 767) $('#sidebar-collapse').collapse('hide')
		})
    </script>
</body>

</html>

