﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Blog</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link href="~/Content/templatemo_style.css" rel="stylesheet" type="text/css" />

    <script type="text/javascript" src="~/Scripts/jquery-1.10.2.min.js"></script>

    <link rel="stylesheet" type="text/css" href="~/Content/ddsmoothmenu.css" />

    <script type="text/javascript" src="~/Scripts/ddsmoothmenu.js"></script>

    <script type="text/javascript">

ddsmoothmenu.init({
	mainmenuid: "templatemo_menu", //menu DIV id
	orientation: 'h', //Horizontal or vertical menu: Set to "h" or "v"
	classname: 'ddsmoothmenu', //class added to menu's outer DIV
	//customtheme: ["#1c5a80", "#18374a"],
	contentsource: "markup" //"markup" or ["container_id", "path_to_menu_file"]
})

    </script>

    <link rel="stylesheet" href="~/Content/slimbox2.css" type="text/css" media="screen" />
    <script type="text/JavaScript" src="~/Scripts/slimbox2.js"></script>

</head>
<body>
    <div id="templatemo_wrapper">
        <div id="templatemo_header">
            <span class="header_border"></span>
            <div id="site_title"><a href="#">Blogum</a></div>
            <div id="templatemo_menu" class="ddsmoothmenu">
                <ul>
                    <li><a href="index.html"><span></span>Ana Sayfa</a></li>
                    <li><a href="about.html"><span></span>Hakkımda</a></li>
                    <li><a href="contact.html"><span></span>İletişim</a></li>
                </ul>
                <br style="clear: left" />
            </div> 
            <div class="clear"></div>
        </div> 


        <div id="templatemo_main_content">
            <div id="templatemo_sidebar">
                @Html.Action("kategoriGetir")
                <div class="sidebar_content_box">
                    <h3>Son Yorumlar</h3>
                    
                    <div class="clear"></div>
                </div>
            </div>

            <div id="templatemo_content">
                @RenderBody()
            </div>
            <div class="clear"></div>
        </div>

        <div id="templatemo_footer">
            Copyright © 2016 Blog
        </div> 
    </div>
</body>
</html>