﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model List<BlogApp.Models.Post>

@foreach (var item in Model)
{
    <div class="post">
        <h2><a href="">@item.Baslik</a></h2>
        <div class="post_meta">
            <span class="post_author"><a href="#">@item.User.Ad</a></span>
            <span class="date"><a href="#">@item.Tarih</a></span>
            <span class="comment">@item.Comments.Count()</span>
        </div>
        <img class="img_border img_border_b" src="images/blog/01.jpg" alt="Post Image 1" />
        <p>@item.Ozet</p>
        <a class="more left" href="fullpost.html">Devamı...</a>
        <div class="clear"></div>
    </div>
}

