﻿@model List<BlogApp.Models.Category>

<div class="sidebar_content_box">
    <h3>Kategoriler</h3>
    @foreach (var item in Model)
    {
        <ul class="sidebar_link">
            <li>
                <a href="#">@item.Ad</a>
            </li>
        </ul>
    }
</div>

